#logo {
    box-sizing: content-box;
    width: 200px;
    min-width: 100px;
    max-width: 200px;
    height: 200px;
    min-width: 100px;
    max-height: 200px;

}
div {
    position: relative;
    text-align: center;
    margin: auto;
}